name: build

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changed-files:
    name: changed-files
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.changed-files-yaml.outputs.src_any_changed }}
    steps:
      - uses: actions/checkout@v4
      - id: changed-files-yaml
        uses: tj-actions/changed-files@v44
        with:
          files_yaml: |
            src:
              - '**/*.rs'
              - '**/Cargo.toml'

  test:
    needs: changed-files
    if: ${{ needs.changed-files.outputs.src == 'true' }}
    name: test-on-${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
            lint: true
          - os: windows-latest
            arch: aarch64
          - os: ubuntu-latest
            arch: x64
            lint: true
          - os: ubuntu-latest
            arch: armv7
          - os: ubuntu-latest
            arch: aarch64
          - os: macos-latest
            arch: aarch64
            lint: true
          - os: ubuntu-latest
            arch: x64
            features: "static"
          - os: ubuntu-latest
            arch: x64
            features: "unity"
          - os: ubuntu-latest
            arch: x64
            features: "unity dynamic_freq"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/setup-build
        with:
          os: ${{ matrix.os }}
          arch: ${{ matrix.arch }}
      - run: python3 build.py build --arch ${{ matrix.arch }} --features "${{ matrix.features }}"
        shell: bash
      - run: python3 build.py lint --features "${{ matrix.features }}"
        if: ${{ matrix.lint == true }}
        shell: bash

  all-tests-passed:
    if: ${{ always() }}
    name: all-tests-passed
    runs-on: ubuntu-latest
    needs: test
    steps:
      - if: ${{ needs.test.result == 'failure' || needs.test.result == 'cancelled' }}
        run: exit 1

  auto-merge:
    needs:
      - test
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    if: ${{ always() && !cancelled() && !failure() && github.actor == 'dependabot[bot]' }}
    steps:
      - run: gh pr merge --rebase --auto "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
